body {
    font-family: var(--main-font);
}

/* Header start*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    padding-top: 47px;
}

.header ul,
.leatest-products ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.header .bar {
    width: 15px;
    display: none;
}

.list a {
    color: #0D0E43
}

.list .active {
    color: var(--primary-color);
}

.search form {
    display: flex;
    align-items: center;
    border: 1px solid #E7E6EF;
    border-radius: 5px;
}

.search input {
    border: none;
    outline: none;
    padding: 8px 13px;
}

.search button {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    padding: 8px 13px;
}

.search img {
    width: 20px;
    height: 20px;
    padding: 2px;
}

/* Header end*/

/* Hero start*/
.hero {
    background-color: #F2F0FF;
    padding: 50px 0;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero-img {
    flex: 1 0 30%;
}

.hero-img img {
    width: 100%;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero .text-content h1 {
    color: var(--primary-color);
    font-family: 'Lato', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
}

.hero .text-content h2 {
    font-family: 'Josefin Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 53px;
    line-height: 171%;
    letter-spacing: 1.5%;
}

.hero .text-content p {
    color: #8A8FB9;
    font-family: 'Lato', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
}

.hero-content .hero-lamp {
    position: relative;
    bottom: 72px;
    width: 20%;
}

.hero .shop-btn {
    display: inline-block;
    align-self: flex-start;
}

@media screen and (max-width: 1630px) {
    .hero-lamp {
        display: none;
    }
}

@media screen and (max-width: 1070px) {
    .hero-img {
        display: none;
    }
}

/* Hero end*/

/* featured-product start*/
.featured-product .product {
    position: relative;
    overflow: hidden;
}

.featured-product {
    padding: 50px 0;
}

.featured-product .row {
    justify-content: center;
    gap: 30px;
}

.featured-product .product {
    width: calc((100% - 90px)/4);
    width: fit-content;
    box-shadow: 0 4px 4px #00000040;
}

.featured-product .product:hover {
    box-shadow: #ffffff40;
    background-color: #2F1AC4;
    transition: all .7s;
}

.featured-product .product:hover .img {
    background-color: #ffffff;
    transition: all .7s;
}

.featured-product .product:hover h3,
.featured-product .product:hover .product-info {
    color: #fff;
    transition: all .7s;
}

.featured-product .product:hover .color-three {
    transition: all .7s;
    background-color: #FFEAC1;
}

.featured-product .product:hover .btn-success {
    visibility: visible;
    transition: all .7s;
}

.featured-product h2 {
    color: #1A0B5B;
    padding-bottom: 43px;
    font-size: 30px;
}

.featured-product .img {
    background-color: #F6F7FB;
}

.featured-product .product .img img {
    padding: 46px 52px 0 40px;
}

#featured-product img {
    padding: 46px 52px 0 40px;
}

.featured-product .img {
    padding-bottom: 12px;
}

.featured-product h3 {
    color: var(--primary-color);
    margin-top: 15px;
}

.featured-product .product-info {
    color: #151875;
    padding-bottom: 17px;
    font-size: 14px;
}

.color {
    height: 4px;
    width: 14px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.color-one {
    background-color: #05E6B7;
}

.color-two {
    background-color: #F701A8;
}

.color-three {
    background-color: #00009D;
}

.btn-success {
    visibility: hidden;
    color: #ffffff;
    padding: 8px 13px;
    font-size: 12px;
    border-radius: 2px;
}

.featured-product .product:hover .img .btn-icon {
    transition: all .7s;
    visibility: visible;
}

.featured-product .product .img .btn-icon {
    visibility: hidden;
    position: absolute;
    top: 11px;
    left: 11px;
    cursor: pointer;
}

.featured-product .product .img .btn-icon img {
    padding: 0;
}

.featured-product .product .img .btn-icon img:hover {
    transition: all .7s;
    background-color: #EEEFFB;
}

/* featured-product end*/

/* leatest-products start*/
.leatest-products .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 37px;
    padding-bottom: 60px;
}

.leatest-products .product .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.leatest-products .product img {
    background-color: #F7F7F7;
}

#img1 {
    padding: 33px 64px 8px 73px;
}

#img2 {
    padding: 17.8px 57px 7px 78px;
}

#img3 {
    padding: 38.98px 69.08px 8.77px 69.08px;
}

#img4 {
    padding: 0px 39px 7.04px 54px;
}

#img5 {
    padding: 13px 21px 7.04px 36px;
}

#img6 {
    padding: 16px 5px 7.04px 5px;
}

.leatest-products .product .img .img-details {
    display: flex;
    align-items: center;
    gap: 104px;
    color: #151875;
    font-size: 16px;
    font-weight: 400;
}

.leatest-products .product .img .img-details p {
    line-height: calc(19 / 16);
    padding-bottom: 3px;
    border-bottom: 2px solid #EEEFFB;
    display: block;
    cursor: pointer;
}

.text-content {
    padding-bottom: 58px;
}

.leatest-products h1 {
    color: #151875;
    font-size: 42px;
    font-weight: 700;
}

.leatest-products ul {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.leatest-products a {
    color: #151875;
    font-size: 18px;
    font-weight: 400;
}

.leatest-products .product-price {
    align-items: center;
}

.leatest-products .product-price .new {
    font-size: 14px;
}

.leatest-products .product-price .old {
    color: var(--primary-color);
    font-size: 12px;
    text-decoration: line-through;
}

.leatest-products .product .img:hover img {
    transition: all .7s;
    background-color: #FFFFFF;
}

.product__item--action {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all .7s;

}

.leatest-products .product .img:hover .product__item--action {
    opacity: 1;
}

.product__item--icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.product__icon {
    width: 36px;
    height: 36px;
    border: 0;
    outline: 0;
    background: transparent;
}

/* leatest-products end*/

/* shopex start*/
.shopex{
    padding: 50px 0;
}

.shopex h1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #151875;
    font-size: 42px;
    font-weight: 700px;
    padding-bottom: 56px;
}

.shopex .offers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.shopex .offers .offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
    padding: 67px 27px 45px 27px;
}

.shopex .offers .offer .offer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 217px;
    max-height: 127px;
}

.shopex .offers .offer .offer-text h2{
    font-size: 22px;
    color: #151875;
}

.shopex .offers .offer .offer-text p{
    font-size: 16px;
    line-height: 25.6px;
    font-weight: bold;
    color: #1A0B5Bb3;
}
/* shopex end*/

/* top categories start*/
.top-categories {
    padding: 50px 0;
}

.top-categories h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #151875;
    font-size: 42px;
    font-weight: 700px;
    padding-bottom: 56px;
}

.top-categories .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.top-categories .products .product {
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.top-categories .products .product .product-img {
    background-color: #F6F7FB;
    border-radius: 50%;
    box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
    position: relative;

}

.top-categories .products .product .product-description {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #151875;
    font-size: 20px;
    position: relative;
    overflow: hidden;
}

.top-categories .products .product .product-description span {
    font-size: 16px;
}

#img-1 {
    padding: 46px 50px 45px 41px;
}

#img-2 {
    padding: 60px 60px 52px 51px;
}

#img-3 {
    padding: 71px 60px 49px 60px;
}

#img-4 {
    padding: 46px 50px 45px 41px;
}

.top-categories .btn-success {
    visibility: hidden;
    color: #ffffff;
    padding: 8px 13px;
    font-size: 12px;
    border-radius: 2px;
    position: absolute;
    bottom: 20px;
    left: 35%;
    transition: opacity 0.3s ease;
}

.top-categories .products .product:hover .btn-success {
    visibility: visible;
    transition: all .7s;
}

.top-categories .products .product:hover .product-img {
    box-shadow: -6px 8px 0px #9877E7;
    transition: all .7s;
}

/* top categories end*/

/* newslatter start*/
.newslater {
    background-image: url('./img/public/newslater-bg.png');
    padding: 175px 0;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.newslater h2 {
    color: #151875;
    margin-bottom: 50px;
    font-size: 35px;
}

.shop-btn {
    transition: all .7s;
}

.shop-btn:hover {
    background-color: #0D0E43;
}

/* newslatter end*/

/* Responsive start*/
@media screen and (max-width: 1200px) {

    .header .list,
    .header .search {
        display: none;
    }

    .header .bar {
        display: block;
    }
}

/* Responsive end*/

/* Footer start*/
.footer {
    background-color: #EEEFFB;
    color: #8A8FB9;
    padding: 50px 0;
}

.footer .row {
    gap: 30px;
}

.footer .left-side {
    gap: 35px;
    align-items: flex-start;
    width: calc((100% - 30px)/2);
}

.footer .right-side {
    width: calc((100% - 30px)/2);
}

.footer .nav a {
    gap: 45px;
}

.footer a {
    text-decoration: none;
    color: #8A8FB9;
}

.footer .right-side .row {
    gap: 35px;
    align-items: flex-start;
}

.footer-item {
    gap: 45px;
    width: calc((100% - 70px)/3);
}

@media screen and (max-width: 992px) {

    .footer .left-side,
    .footer .right-side {
        width: 100%;
    }


}

@media screen and (max-width: 576px) {
    .footer {
        text-align: center;
    }

    .footer-item {
        width: 100%;
    }
}

/* Footer end*/

/* clints start*/
.clints {
    padding: 50px 0;
}

.clints .row {
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
}

.clints .logo {
    width: calc((100% - 75px)/6);
}

.clints img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 900px) {
    .clints .logo {
        width: calc((100% - 30px)/3);
    }
}

/* clints end*/